.top {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    position: relative;
    height: 90px;
    margin-bottom: 60px;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: white;
  font-size: 48px;
}

.name {
    background: #4aaaa5;
    text-align: center;
    float: left;
    margin-left: 15%;
    line-height: 90px;
    width: 300px;
}

nav {
  float: right;
  margin: auto;
  padding-right: 15%;
  line-height: 75px;
  font-size: 19px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

nav a {
  padding: 0px 18px 0px 10px;
  text-decoration: none;
  color: #777777;
}

nav a:hover {
  color: yellow;
}

body {
  background: url("../images/qbkls.png");
  background-repeat: repeat;
}

.wrapper {
  width: 960px;
  padding: 20px;
  margin: 20px auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
}

.about-me {
  margin-bottom: 10px;
  border-bottom: 2px solid #cccccc;
  width: 100%;
  margin: 0 auto;
  color: #4aaaa5;
  font-size: 30px;
  padding-bottom: 20px;
}

.img-box {
  float: left;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 50px;
  background: #666666;
  border-top: 6px solid #4aaaa5;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: white;
  line-height: 46px;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  text-align: left;
  line-height: 28px;
  padding: 15px;
}

.input-name, .input-email{
  width: 500px;
  height: 20px;
}

.input-message {
  width: 500px;
  height: 200px;
}

.submit-button {
  color: white;
  background: #4aaaa5;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  width: 80px;
}

.divTable {
  display: table;
  width: auto;
}

.divRow {
  display: table-row;
  width: auto;
}

.divCell {
  float: left;
  display: table-column;
  width: auto;
  padding: 20px;
}

.container {
  position: relative;
}

img {
  height: 200px;
  widows: 200px;
}

.box-label {
  background: #4aaaa5;
  color: white;
  position: relative;
  bottom: 62px;
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 40px;
}